.contactData{
    margin: 20px auto;
    width: 80%;
    text-align: center;
    box-shadow: 0 2px 3px #ccc;
    border: 1px solid #eee;
    padding: 10px;
    box-sizing: border-box;
}

.contactData Input{
    display: block;
    padding: 10px 20px;
    margin: 5px auto;
    outline: none;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.contactData Input[type=text]:focus {
    border: 3px solid #555;
}

@media (min-width: 600px) {
    .contactData{
        width: 500px;
    }
}